<div class="content">
  <h2>Overview</h2>
  <p>Welcome to your profile, <%= user.name %>!</p>
  <ul>
    <li>Email: <%= user.email %></li>
    <li>Joined On: <%= user.createdAt.toDateString(); %></li>
  </ul>
</div>
