<link rel="stylesheet" href="/css/all.min.css">
<link rel="stylesheet" href="/css/fonts.css">


<div class="mobile-bottom-bar">
  <ul class="bottom-nav">
    <li>
      <a href="/" class="nav-link">
        <img src="/icons/home.png" alt="Home"height="30" />
        <span>Home</span>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link" onclick="scrollToTop()">
        <img src="/icons/search.png" alt="Search"height="30" />
        <span>Search</span>
      </a>
    </li>
    <li>
      <a href="/profile" class="nav-link">
        <img src="/icons/account.png" alt="Profile"height="30" />
        <span>Profile</span>
      </a>
    </li>
    <li>
      <a href="/cart" class="nav-link">
        <img src="/icons/cart.png" alt="Cart"height="30" />
        <span>Cart</span>
      </a>
    </li>
    <li>
      <a href="/favourites" class="nav-link">
        <img src="/icons/heart.png" alt="Favourite"height="30" />
        <span>Favourite</span>
      </a>
    </li>
    <li>
      <a href="/explore" class="nav-link">
        <img src="/icons/compass.png" alt="Explore"height="30" />
        <span>Explore</span>
      </a>
    </li>
  </ul>
</div>

<!-- Add necessary icons from FontAwesome or any other icon library -->
<script>
  // Function to scroll to top
  function scrollToTop() {
    window.scrollTo({
      top: 0,
      behavior: 'smooth'
    });
  }
</script>

<style>
  /* Floating Bottom Bar Styles */
  .mobile-bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
    transition: transform 0.3s ease;
    /* Smooth transition for hiding/showing */
  }

  .mobile-bottom-bar.hide {
    transform: translateY(100%);
    /* Move the bar down */
  }

  .bottom-nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .bottom-nav li {
    text-align: center;
    flex: 1;
  }

  .nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(43, 43, 43);
    font-size: 12px;
    text-decoration: none;
  }

  .nav-link i {
    font-size: 24px;
    color: rgb(43, 43, 43);
  }

  .nav-link span {
    margin-top: 4px;
    font-size: 12px;
    color: rgb(43, 43, 43);
  }

  .nav-link:hover {
    color: grey;
  }

  .logo-icon {
    height: 24px;
    margin-bottom: 4px;
  }

  /* Responsive Design */
  @media (min-width: 769px) {
    .mobile-bottom-bar {
      display: none;
    }
  }
</style>

<script>
  let lastScrollTop = 0;
  const buyBottomBar = document.querySelector('.mobile-bottom-bar');

  window.addEventListener('scroll', function() {
    const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

    if (scrollTop > lastScrollTop) {
      // Scrolling down
      buyBottomBar.classList.add('hide');
    } else {
      // Scrolling up
      buyBottomBar.classList.remove('hide');
    }

    lastScrollTop = scrollTop <= 0 ? 0 : scrollTop; // For Mobile or negative scrolling
  });
</script>