<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Delivery Information | The Handwerker</title>
  <link rel="stylesheet" href="/css/article.css">
</head>

<body>
  <%- include('../partials/header') %>

  <section class="delivery">
    <div class="container">
      <h2 class="section-title">Delivery Information</h2>
      <p class="section-description">
        We provide free delivery and mounting services for purchases over Rs 25,000 around the island.
      </p>
      <p class="section-description">
        Our delivery team will set up your furniture in your chosen location, provided the area is accessible. To ensure a smooth process, please clear the space where the furniture will go and make sure the pathways are unobstructed. We'll take care of all the heavy lifting and remove any packaging materials once the setup is complete.
      </p>
    </div>
  </section>

  <%- include('../partials/MobileMenu') %>
  <%- include('../partials/footer') %>
</body>

</html>
