<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Terms and Conditions | The Handwerker</title>
  <link rel="stylesheet" href="/css/article.css">
</head>

<body>
  <%- include('../partials/header') %>

  <section class="terms">
    <div class="container">
      <h2 class="section-title">Terms and Conditions</h2>
      <ul class="terms-list">
        <li>A 50% deposit shall be paid upon reservation of a regular product and the other 50% shall be paid upon delivery of the said product.</li>
        <li>A 75% deposit shall be paid upon reservation of a custom product and the other 25% shall be paid upon delivery of the said product.</li>
        <li>Delivery of the product can and will be withheld for as long as the final payment is not effected.</li>
        <li>The customer agrees that there shall be no refund of any deposit or full payment in any circumstances.</li>
        <li>There shall be no return of the product once the customer has been the recipient of the said product.</li>
        <li>The product is deemed to be in the possession of the customer once the delivery has been effected at the showroom/warehouse/office of ‘The Handwerker’.</li>
        <li>The product is only to be collected at the showroom/warehouse/office of ‘The Handwerker’. None of the products bear any guarantee in any kind.</li>
        <li>Should there be any defect on a product, the customer ought to notify ‘The Handwerker’ on delivery at latest. The product will otherwise be deemed fit. Any complaint after delivery will not be considered and ‘The Handwerker’ will not hold any liability for same.</li>
        <li>‘The Handwerker’ will not be held responsible for failure or delay to perform its obligation due to an event of force majeure.</li>
      </ul>
    </div>
  </section>

  <%- include('../partials/MobileMenu') %>
  <%- include('../partials/footer') %>
</body>

</html>
